container {
  min-height: 100vh;
  background-color: #ffffff;
}

.header {
  position: relative;
  /* nodig voor absolute kinderen */
  height: 6rem;
  background-color: #000000;
  color: #ffffff;
}

.logoWrapper {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.searchWrapper {
  position: absolute;
  right: 18rem;
  /* pas aan hoeveel ruimte je rechts wilt */
  top: 50%;
  transform: translateY(-50%);
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoIcon {
  font-size: 1.5rem;
  font-weight: bold;
}

.logoText {
  font-size: 1.25rem;
  font-weight: 600;
}

.main {
  padding: 2rem;
}

.navGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.cardUpdates {
  background-color: #f3f4f6;
  color: #1f2937;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}


.cardAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addIcon {
  font-size: 1.75rem;
  font-weight: bold;
}

.linkPrimary {
  color: #ffffff;
  text-decoration: underline;
  font-size: 1.125rem;
}


.cardUpdates:hover,
.cardDefault:hover {
  background-color: #1E90FF;
  color: #ffffff;
  cursor: pointer;
}


.cardDefault {
  background-color: #f3f4f6;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

.filter {
  position: absolute;
  top: 50%;
  right: 7rem;
  /* pas deze waarde aan zoals je wilt */
  transform: translateY(-50%);
}